##----IMG_TOP_TIT----
#set($sort = "createdate")
#set($criteria= "desc")
#set($art_prev = $articleToolbox.getSiblingArticle($sort, $criteria, "prev"))
#set($art_next = $articleToolbox.getSiblingArticle($sort, $criteria, "next"))
#if($art_prev)
	<div class="IMG_TOP_TIT detail w10 m10">
        <div class="article-loop article-loop-prev">
            <a href="$art_prev.reserved-article-url.data">
                <article class="article-data">
                    <div class="multimediaIconMacroWrapper">
						#set($imgHtml = $art_prev.getImageTag("TeaserImage","0","crop_250x250","","","","true","","","10%"))
						#if($imgHtml)
						$imgHtml
						#else
							$art_prev.getImageTag("TeaserImage","0","crop_250x250","","","","true","","")
						#end
                    </div>
                    <div class="summary">
                        <h3 class="topheadline">
                            #printAssignedSection("")
                            ##TopHeadline de un artículo
                        </h3>
                        <h2 title="$art_prev.getTag(null,'TeaserHeadline').data" class="headline">
                            ##$Headline.data
                            $art_prev.getTag(null,'TeaserHeadline').data
                        </h2>
                    </div>
                </article>
                <div class="arrow arrow-left">
                    <span class="visuallyhidden">Previous Article</span>
                    <div class="arrow-conceal"></div>
                </div>
            </a>
        </div>
	</div>
#end
#if($art_next)
	<div class="template-110 detail w10 m10">
        <div class="article-loop article-loop-next">
            <a href="$art_next.reserved-article-url.data">
                <article class="article-data">
                    <div class="multimediaIconMacroWrapper">
                        #set($imgHtml = $art_next.getImageTag("TeaserImage","0","crop_250x250","","","","true","","","10%"))
						#if($imgHtml)
						$imgHtml
						#else
							$art_next.getImageTag("TeaserImage","0","crop_250x250","","","","true","","")
						#end
                    </div>
                    <div class="summary">
                        <h3 class="topheadline">
                            #printAssignedSection("")
                            ##TopHeadline de un artículo
                        </h3>
                        <h2 title="$art_next.getTag(null,'TeaserHeadline').data" class="headline">
                            ##$Headline.data
                            $art_next.getTag(null,'TeaserHeadline').data
                        </h2>
                    </div>
                </article>
                <div class="arrow arrow-right">
                    <span class="visuallyhidden">Next Article</span>
                    <div class="arrow-conceal"></div>
                </div>
            </a>
        </div>
	</div>
#end