##Macro de velocity recortarTexto##
##Descripcion: Esta macro se utiliza para recortar textos
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 1: vTextos -> objectArray que contiene todos los bloques de texto (Variable $Text de Standard Article).
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 2: $iNumCaracteres -> entero que indica cuÃƒÂ¯Ã‚Â¿Ã‚Â½ntos carÃƒÂ¯Ã‚Â¿Ã‚Â½cteres tendrÃƒÂ¯Ã‚Â¿Ã‚Â½ el texto (Se recorta por la palabra mÃƒÂ¯Ã‚Â¿Ã‚Â½s cercana)
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 3: sResultado -> string en el que se guarda una cadena que contiene el texto separado por pÃƒÂ¯Ã‚Â¿Ã‚Â½rrafos "<p> </p>" .
	
#macro (recortarTexto $vTextos $iNumCaracteres $sResultado)
		#set($contChar = 0)	
		#set($origNumCaracteres = $iNumCaracteres)
		#foreach ($elem in $vTextos)
                  
            #if ($iNumCaracteres > 0)
                #set ($elem = $elem.replaceAll("&amp;","&"))
                #set ($elem = $elem.replace("<p>",""))
                #set ($elem = $elem.replaceAll("<.*?>",""))
                
             
                #set($contChar = $contChar + $elem.length())	
                #if ($elem.length() < $iNumCaracteres)
                    #set ($sResultado = $sResultado + "<p>" + $elem)
                    #set ($iNumCaracteres = $iNumCaracteres - $elem.length())
                #else
                    
                
                    #set($index = $elem.indexOf(" ", $iNumCaracteres))
                    
                    #if($index == -1)
                        #set ($sResultado =  "<p>" + $elem )
                    #else
                        #set ($sResultado = $sResultado  + "<p>" + $elem.substring(0, $elem.indexOf(" ", $iNumCaracteres)))                                     
                    #end
                    #set ($iNumCaracteres = 0)
                
                #end
            #end
        #end
        $!{sResultado}#if($contChar > $origNumCaracteres)<span class="ellipsis">...</span>#end
        		
#end

##Macro de velocity recortarTexto_p##
##Descripcion: Esta macro se utiliza para recortar textos por una maximo o primer parrafo
##Parametro 1: vTextos -> objectArray que contiene todos los bloques de texto (Variable $Text de Standard Article).
##Parametro 2: $iNumCaracteres -> entero que indica cuantos caracteres tendra el texto (Se recorta por la palabra mÃƒÂ¯Ã‚Â¿Ã‚Â½s cercana)
##Parametro 3: sResultado -> string en el que se guarda una cadena que contiene el texto separado por parrafos "<p> </p>" .
	
#macro (recortarTexto_p $vTextos $iNumCaracteres $sResultado)
		#set($contChar = 0)	
		#set($origNumCaracteres = $iNumCaracteres)
		#foreach ($elem in $vTextos)
                  
            #if ($iNumCaracteres > 0)
                #set ($elem = $elem.replaceAll("&amp;","&"))
                #set ($elem = $elem.replace("<p>",""))
                #set ($elem = $elem.replaceAll("<.*?>",""))
                
             
                #set($contChar = $contChar + $elem.length())	
                #if ($elem.length() < $iNumCaracteres)
                    #set ($sResultado = $sResultado + "<p>" + $elem)
                    ##set ($iNumCaracteres = $iNumCaracteres - $elem.length())
                    #set ($iNumCaracteres = 0)
                #else
                    
                
                    #set($index = $elem.indexOf(" ", $iNumCaracteres))
                    
                    #if($index == -1)
                        #set ($sResultado =  "<p>" + $elem )
                    #else
                        #set ($sResultado = $sResultado  + "<p>" + $elem.substring(0, $elem.indexOf(" ", $iNumCaracteres)))                                     
                    #end
                    #set ($iNumCaracteres = 0)
                
                #end
            #end
        #end
        $!{sResultado}#if($contChar > $origNumCaracteres)<span class="ellipsis">...</span>#end
        		
#end

##Macro de velocity recuperarParrafosTexto##
##Descripcion: Esta macro se utiliza para recuperar todos los pÃƒÂ¯Ã‚Â¿Ã‚Â½rrafos de texto de una estructura standard article.
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 1: vTextos -> objectArray que contiene todos los bloques de texto (Variable $Text de Standard Article).
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 2: bConcatCapitular -> booleano que indica si las capitulares se deben aÃƒÂ¯Ã‚Â¿Ã‚Â½adir al pÃƒÂ¯Ã‚Â¿Ã‚Â½rrafo o no.
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 3: bLadillos -> booleano que indica si se deben recuperar los ladillos. 
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 4: vResultado -> objectArray  en el que se guardan todos los pÃƒÂ¯Ã‚Â¿Ã‚Â½rrafos (incluyendo los ladillos).

#macro (recuperarParrafosTexto $vTextos $bConcatCapitular $bLadillos $vResultado)


			#set ($vResultado = [])   
		    #set ($parrafoTemp="")
			#set($index = 1)
			#set($capitularCount = 0)
                    
                            
			#if ($bConcatCapitular == true)						
			
				#set ($ladillos = $Paragraph_Title.getSiblings())
				
				#foreach($Texto in $vTextos.getSiblings())
				  
					#set($Capitular = false)
					
					#set($arraTemp = $Texto.data.split("</p>"))
					#foreach($parrafo in $arraTemp)
						#set($parrafo = $parrafo.replaceAll("&amp;","&"))
						#set($parrafo = $parrafo.replace("<p>",""))
						#set($parrafo = $parrafo.replaceAll("<\s*p.*?>",""))
						#set($parrafo = $parrafo.replaceAll("<\s*\/\s*p\s*.*?>",""))
						#set($parrafo = $parrafo.replaceAll("<\s*span.*?>",""))
						#set($parrafo = $parrafo.replaceAll("<\s*\/\s*span\s*.*?>",""))
						
						
						#if(($velocityCount == 1) && ($index ==1))
							#set ($parrafoTemp = $parrafo.trim())
							##set ($parrafoTemp = $parrafoTemp.replace("<p>",""))
							#if ($parrafoTemp.length()>1)
								#set ($parrafoTemp = "")
								
								#set($temp = $vResultado.add($parrafo))	
							 #elseif($parrafoTemp.length() == 1)
								#set($Capitular = true)	
								#set($capitularCount = $capitularCount + 1)								
							#end
								 
							
							
						#elseif(($velocityCount == 1) && ($index == 2))
							
							#set($parrafoMix = "$parrafoTemp$parrafo")
							
							#set($temp = $vResultado.add($parrafoMix))
						
						#else
							#if($parrafo != "")						
								#set($temp = $vResultado.add($parrafo))
							#end
						#end
						
					#end
					
					#set($indexLadillo = $velocityCount - 1 - $capitularCount )
					
					
					#if($Capitular == false)
					
						#if($bLadillos == true)
							#if($ladillos)
								#if( $velocityCount - $capitularCount  <= $ladillos.size() )
								    
									#if ($ladillos.get($indexLadillo).data!="")
										#set($ladillo = "<div class='ladillo'>" + $ladillos.get($indexLadillo).data + "</div> </p> ")
										#set($temp = $vResultado.add($ladillo))
									#end
								#end
							#end
						#end
					#end
					
					
					
					#set ($index = $index +1)
					
				#end
			
			#else
			
				
				#set($indexLadillo = 0)
				#foreach($Texto in $vTextos.getSiblings())
					
					#set ($ladillos = $Paragraph_Title.getSiblings())
					#set($arraTemp = $Texto.data.split("</p>"))
					
					
					#foreach($parrafo in $arraTemp)
						
						#set($parrafo = $parrafo.replaceAll("&amp;","&"))
						#set($parrafo = $parrafo.replace("<p>",""))
						
                        
						#if($parrafo != "")	
							#set($temp = $vResultado.add($parrafo))
						#end	
	
					#end
					
					#if($bLadillos == true)
						
						#if($ladillos.size() > $indexLadillo)
							#set($ladillo = "<div class='ladillo'>" + $ladillos.get($indexLadillo).data + "</div> </p> ")
							#set($temp = $vResultado.add($ladillo))
							#set($indexLadillo = $indexLadillo + 1)
						#end
					#end
					
					
				#end
			
			#end

#end
	
#macro (recuperarParrafosTexto2 $vTextos $bConcatCapitular $bLadillos $vResultado)
#set ($vResultado = [])   
#set ($parrafoTemp="")
#set($index = 1)
#set($capitularCount = 0)
        
                
#if ($bConcatCapitular == true)						

	#set ($ladillos = $Paragraph_Title.getSiblings())
	
	#foreach($Texto in $vTextos.getSiblings())
	  
		#set($Capitular = false)
		
		#set($arraTemp = $Texto.data.split("</p>"))
		#foreach($parrafo in $arraTemp)
			#set($parrafo = $parrafo.replaceAll("&amp;","&"))
			#set($parrafo = $parrafo.replace("<p>",""))
			#set($parrafo = $parrafo.replaceAll("<\s*p.*?>",""))
			#set($parrafo = $parrafo.replaceAll("<\s*\/\s*p\s*.*?>",""))
			#set($parrafo = $parrafo.replaceAll("<\s*span.*?>",""))
			#set($parrafo = $parrafo.replaceAll("<\s*\/\s*span\s*.*?>",""))
			
			
			#if(($velocityCount == 1) && ($index ==1))
				#set ($parrafoTemp = $parrafo.trim())
				##set ($parrafoTemp = $parrafoTemp.replace("<p>",""))
				#if ($parrafoTemp.length()>1)
					#set ($parrafoTemp = "")
					
					#set($temp = $vResultado.add($parrafo))	
				 #elseif($parrafoTemp.length() == 1)
					#set($Capitular = true)	
					#set($capitularCount = $capitularCount + 1)								
				#end
					 
				
				
			#elseif(($velocityCount == 1) && ($index == 2))
				
				#set($parrafoMix = "$parrafoTemp$parrafo")
				
				#set($temp = $vResultado.add($parrafoMix))
			
			#else
				#if($parrafo != "")						
					#set($temp = $vResultado.add($parrafo))
				#end
			#end
			
		#end
		
		#set($indexLadillo = $velocityCount - 1 - $capitularCount )
		
		
		#if($Capitular == false)
		
			#if($bLadillos == true)
				#if($ladillos)
					#if( $velocityCount - $capitularCount  <= $ladillos.size() )
					    
						#if ($ladillos.get($indexLadillo).data!="")
							#set($ladillo = "<div class='ladillo'>" + $ladillos.get($indexLadillo).data + "</div> </p> ")
							#set($temp = $vResultado.add($ladillo))
						#end
					#end
				#end
			#end
		#end
		
		
		
		#set ($index = $index +1)
		
	#end

#else

	
	#set($indexLadillo = 0)
	#foreach($Texto in $vTextos.getSiblings())
		
		#set ($ladillos = $Paragraph_Title.getSiblings())
		#set($arraTemp = $Texto.data.split("</p>"))
		
		
		#foreach($parrafo in $arraTemp)
			
			#set($parrafo = $parrafo.replaceAll("&amp;","&"))
			#set($parrafo = $parrafo.replace("<p>",""))
			
            
			#if($parrafo != "")	
				#set($temp = $vResultado.add($parrafo))
			#end	

		#end
		
		#if($bLadillos == true)
			
			#if($ladillos.size() > $indexLadillo)
				#set($ladillo = "<div class='ladillo'>" + $ladillos.get($indexLadillo).data + "</div> </p> ")
				#set($temp = $vResultado.add($ladillo))
				#set($indexLadillo = $indexLadillo + 1)
			#end
		#end
		
		
	#end

#end

#end


##Macro de velocity eliminarHTML
##Descripcion: Esta macro se usa para eliminar todas las etiquetas html de un texto.
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 1: $sResultado -> String que va a contener el resultado sin html
#macro(eliminarHTML $sResultado)
	#set ($sResultado = $sResultado.replaceAll("&amp;","&"))
	#set ($sResultado = $sResultado.replaceAll("<.*?>",""))
#end

##Macro de velocity siteUrl
##Descripción: Macro que se usa para recuperar el site Url del portal actual
#macro (siteUrl)#*
	*#$request.scheme://$request.server-name#if($request.server-port != "80"):${request.server-port}#end#*
*##end



##PLANTILLAS V1


##Macro de velocity recortarTexto##
##Descripcion: Esta macro se utiliza para recortar textos
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 1: vTextos -> objectArray que contiene todos los bloques de texto (Variable $Text de Standard Article).
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 2: $iNumCaracteres -> entero que indica cuÃƒÂ¯Ã‚Â¿Ã‚Â½ntos carÃƒÂ¯Ã‚Â¿Ã‚Â½cteres tendrÃƒÂ¯Ã‚Â¿Ã‚Â½ el texto (Se recorta por la palabra mÃƒÂ¯Ã‚Â¿Ã‚Â½s cercana)
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 3: sResultado -> string en el que se guarda una cadena que contiene el texto separado por pÃƒÂ¯Ã‚Â¿Ã‚Â½rrafos "<p> </p>" .
#macro (recortarTexto_v1 $vTextos $iNumCaracteres $sResultado $elipsis)
	#set($contChar = 0)
	#set($origNumCaracteres = $iNumCaracteres)
		#foreach ($elem in $vTextos)
			#if ($iNumCaracteres > 0)
				#set ($elem = $elem.replaceAll("&amp;","&"))
				#set ($elem = $elem.replace("<p>",""))
				#set ($elem = $elem.replaceAll("<.*?>",""))
				#set($contChar = $contChar + $elem.length())
				#if ($elem.length() < $iNumCaracteres)
					#set ($sResultado = $sResultado + "<p>" + $elem)
					#set ($iNumCaracteres = $iNumCaracteres - $elem.length())
					#else
					#set($index = $elem.indexOf(" ", $iNumCaracteres))
						#if($index == -1)
							#set ($sResultado = "<p>" + $elem )
						#else
							#set ($sResultado = $sResultado + "<p>" + $elem.substring(0, $elem.indexOf(" ", $iNumCaracteres)))
						#end
					#set ($iNumCaracteres = 0)
				#end
			#end
		#end
		$!{sResultado}
		#if($contChar > $origNumCaracteres)
			#if(!$elipsis)
				#set($elipsis = "...")
			#end
			<span class="ellipsis">$elipsis</span>
		#end
#end

##Macro de velocity recortarTexto_p##
##Descripcion: Esta macro se utiliza para recortar textos por una maximo o primer parrafo
##Parametro 1: vTextos -> objectArray que contiene todos los bloques de texto (Variable $Text de Standard Article).
##Parametro 2: $iNumCaracteres -> entero que indica cuantos caracteres tendra el texto (Se recorta por la palabra mÃƒÂ¯Ã‚Â¿Ã‚Â½s cercana)
##Parametro 3: sResultado -> string en el que se guarda una cadena que contiene el texto separado por parrafos "<p> </p>" .
	
#macro (recortarTexto_p_v1 $vTextos $iNumCaracteres $sResultado)
		#set($contChar = 0)	
		#set($origNumCaracteres = $iNumCaracteres)
		#foreach ($elem in $vTextos)
                  
            #if ($iNumCaracteres > 0)
                #set ($elem = $elem.replaceAll("&amp;","&"))
                #set ($elem = $elem.replace("<p>",""))
                #set ($elem = $elem.replaceAll("<.*?>",""))
                
             
                #set($contChar = $contChar + $elem.length())	
                #if ($elem.length() < $iNumCaracteres)
                    #set ($sResultado = $sResultado + "<p>" + $elem)
                    ##set ($iNumCaracteres = $iNumCaracteres - $elem.length())
                    #set ($iNumCaracteres = 0)
                #else
                    
                
                    #set($index = $elem.indexOf(" ", $iNumCaracteres))
                    
                    #if($index == -1)
                        #set ($sResultado =  "<p>" + $elem )
                    #else
                        #set ($sResultado = $sResultado  + "<p>" + $elem.substring(0, $elem.indexOf(" ", $iNumCaracteres)))                                     
                    #end
                    #set ($iNumCaracteres = 0)
                
                #end
            #end
        #end
        $!{sResultado}#if($contChar > $origNumCaracteres)<span class="ellipsis">...</span>#end	
#end

##Macro de velocity recuperarParrafosTexto##
##Descripcion: Esta macro se utiliza para recuperar todos los pÃƒÂ¯Ã‚Â¿Ã‚Â½rrafos de texto de una estructura standard article.
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 1: vTextos -> objectArray que contiene todos los bloques de texto (Variable $Text de Standard Article).
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 2: bConcatCapitular -> booleano que indica si las capitulares se deben aÃƒÂ¯Ã‚Â¿Ã‚Â½adir al pÃƒÂ¯Ã‚Â¿Ã‚Â½rrafo o no.
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 3: bLadillos -> booleano que indica si se deben recuperar los ladillos. 
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 4: vResultado -> objectArray  en el que se guardan todos los pÃƒÂ¯Ã‚Â¿Ã‚Â½rrafos (incluyendo los ladillos).

#macro (recuperarParrafosTexto_v1 $vTextos $bConcatCapitular $bLadillos $vResultado)
		#set ($vResultado = [])   
		#set ($parrafoTemp="")
		#set($index = 1)
		#set($capitularCount = 0)
							
		#if ($bConcatCapitular == true)						
		
			#set ($ladillos = $Paragraph_Title.getSiblings())
			
			#foreach($Texto in $vTextos.getSiblings())
				
				#set($Capitular = false)
				#set($arraTemp = $Texto.data.split("</p>"))

				#foreach($parrafo in $arraTemp)
					#set($parrafo = $parrafo.replaceAll("&amp;","&"))
					#set($parrafo = $parrafo.replace("<p>",""))
					#set($parrafo = $parrafo.replaceAll("<\s*p.*?>",""))
					#set($parrafo = $parrafo.replaceAll("<\s*\/\s*p\s*.*?>",""))
					#set($parrafo = $parrafo.replaceAll("<\s*span.*?>",""))
					#set($parrafo = $parrafo.replaceAll("<\s*\/\s*span\s*.*?>",""))
					
					#if(($velocityCount == 1) && ($index ==1))
						#set ($parrafoTemp = $parrafo.trim())
						##set ($parrafoTemp = $parrafoTemp.replace("<p>",""))
						#if ($parrafoTemp.length()>1)
							#set ($parrafoTemp = "")
							
							#set($temp = $vResultado.add($parrafo))	
							#elseif($parrafoTemp.length() == 1)
							#set($Capitular = true)	
							#set($capitularCount = $capitularCount + 1)								
						#end
						
					#elseif(($velocityCount == 1) && ($index == 2))
						
						#set($parrafoMix = "$parrafoTemp$parrafo")
						#set($temp = $vResultado.add($parrafoMix))
					
					#else
						#if($parrafo != "")						
							#set($temp = $vResultado.add($parrafo))
						#end
					#end
					
				#end
				
				#set($indexLadillo = $velocityCount - 1 - $capitularCount )
				
				
				#if($Capitular == false)
				
					#if($bLadillos == true)
						#if($ladillos)
							#if( $velocityCount - $capitularCount  <= $ladillos.size() )
								
								#if ($ladillos.get($indexLadillo).data!="")
									#set($ladillo = "<div class='ladillo'>" + $ladillos.get($indexLadillo).data + "</div> </p> ")
									#set($temp = $vResultado.add($ladillo))
								#end
							#end
						#end
					#end
				#end

				#set ($index = $index +1)
				
			#end
		
		#else

			#set($indexLadillo = 0)
			#foreach($Texto in $vTextos.getSiblings())
				
				#set ($ladillos = $Paragraph_Title.getSiblings())
				#set($arraTemp = $Texto.data.split("</p>"))

				#foreach($parrafo in $arraTemp)
					
					#set($parrafo = $parrafo.replaceAll("&amp;","&"))
					#set($parrafo = $parrafo.replace("<p>",""))
					
					#if($parrafo != "")	
						#set($temp = $vResultado.add($parrafo))
					#end	

				#end
				
				#if($bLadillos == true)
					
					#if($ladillos.size() > $indexLadillo)
						#set($ladillo = "<div class='ladillo'>" + $ladillos.get($indexLadillo).data + "</div> </p> ")
						#set($temp = $vResultado.add($ladillo))
						#set($indexLadillo = $indexLadillo + 1)
					#end
				#end
				
				
			#end
		
		#end

#end
	
#macro (recuperarParrafosTexto2_v1 $vTextos $bConcatCapitular $bLadillos $vResultado)
		#set ($vResultado = [])   
		#set ($parrafoTemp="")
		#set($index = 1)
		#set($capitularCount = 0)
				
						
		#if ($bConcatCapitular == true)						

			#set ($ladillos = $Paragraph_Title.getSiblings())
			
			#foreach($Texto in $vTextos.getSiblings())
			
				#set($Capitular = false)
				#set($arraTemp = $Texto.data.split("</p>"))

				#foreach($parrafo in $arraTemp)
					#set($parrafo = $parrafo.replaceAll("&amp;","&"))
					#set($parrafo = $parrafo.replace("<p>",""))
					#set($parrafo = $parrafo.replaceAll("<\s*p.*?>",""))
					#set($parrafo = $parrafo.replaceAll("<\s*\/\s*p\s*.*?>",""))
					#set($parrafo = $parrafo.replaceAll("<\s*span.*?>",""))
					#set($parrafo = $parrafo.replaceAll("<\s*\/\s*span\s*.*?>",""))
					
					
					#if(($velocityCount == 1) && ($index ==1))
						#set ($parrafoTemp = $parrafo.trim())
						##set ($parrafoTemp = $parrafoTemp.replace("<p>",""))
						#if ($parrafoTemp.length()>1)
							#set ($parrafoTemp = "")
							
							#set($temp = $vResultado.add($parrafo))	
						#elseif($parrafoTemp.length() == 1)
							#set($Capitular = true)	
							#set($capitularCount = $capitularCount + 1)								
						#end
						
					#elseif(($velocityCount == 1) && ($index == 2))
						
						#set($parrafoMix = "$parrafoTemp$parrafo")
						#set($temp = $vResultado.add($parrafoMix))
					
					#else
						#if($parrafo != "")						
							#set($temp = $vResultado.add($parrafo))
						#end
					#end
					
				#end
				
				#set($indexLadillo = $velocityCount - 1 - $capitularCount )
				
				#if($Capitular == false)
					#if($bLadillos == true)
						#if($ladillos)
							#if( $velocityCount - $capitularCount  <= $ladillos.size() )
								#if ($ladillos.get($indexLadillo).data!="")
									#set($ladillo = "<div class='ladillo'>" + $ladillos.get($indexLadillo).data + "</div> </p> ")
									#set($temp = $vResultado.add($ladillo))
								#end
							#end
						#end
					#end
				#end
				
				#set ($index = $index +1)
				
			#end

		#else

			
			#set($indexLadillo = 0)
			#foreach($Texto in $vTextos.getSiblings())
				
				#set ($ladillos = $Paragraph_Title.getSiblings())
				#set($arraTemp = $Texto.data.split("</p>"))
				
				
				#foreach($parrafo in $arraTemp)
					
					#set($parrafo = $parrafo.replaceAll("&amp;","&"))
					#set($parrafo = $parrafo.replace("<p>",""))
					
					
					#if($parrafo != "")	
						#set($temp = $vResultado.add($parrafo))
					#end	

				#end
				
				#if($bLadillos == true)
					
					#if($ladillos.size() > $indexLadillo)
						#set($ladillo = "<div class='ladillo'>" + $ladillos.get($indexLadillo).data + "</div> </p> ")
						#set($temp = $vResultado.add($ladillo))
						#set($indexLadillo = $indexLadillo + 1)
					#end
				#end
				
				
			#end

		#end

#end


##Macro de velocity eliminarHTML
##Descripcion: Esta macro se usa para eliminar todas las etiquetas html de un texto.
##ParÃƒÂ¯Ã‚Â¿Ã‚Â½metro 1: $sResultado -> String que va a contener el resultado sin html
#macro(eliminarHTML_v1 $sResultado)
		#set ($sResultado = $sResultado.replaceAll("&amp;","&"))
		#set ($sResultado = $sResultado.replaceAll("<.*?>",""))
#end

##Macro de velocity siteUrl
##Descripción: Macro que se usa para recuperar el site Url del portal actual
#macro (siteUrl_v1)#*
		*#$request.scheme://$request.server-name#if($request.server-port != "80"):${request.server-port}#end#*
*##end
