/*----common----*/

/* MARGIN AND PADDING*/

.mT5 {margin-top: 5px;}

.mT10 {margin-top: 10px;}

.mT15 {margin-top: 15px;}

.mT20 {margin-top: 20px;}

.mT30 {margin-top: 30px;}


.mB10 {margin-bottom: 10px;}


.mR20 {margin-right: 20px;};


section {
padding:5px;

}

article .byline .date{

padding-left:6px;
}

article .byline
 {
    float: left;
    font-weight: bold;
}

/*----MOST_VIEWED----*/
.most_recent .iter-tab a {
    font-size: 18px;
    font-family: font_1_bold;
    font-style: italic;
    color: #c0292c;
}

.most_recent .iter-tab {
    margin-bottom: 10px;
    width: 32%;
    display:inline-block;
}

.most_recent .iter-tabview-content-item.iter-tabview-content.iter-widget-bd {
    clear: both;
}

.most_recent .iter-tabview-content-item.iter-tabview-content.iter-widget-bd.iter-helper-hidden {
    clear: both;
    display: none;
}

/*----PLAY ICON----*/
.iconPlay{
    background: url('../_resources/images/sprite-icon-home2.webp') no-repeat -53px -1038px transparent;
    height: 75px;
    width: 75px;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}

.iconPlay.middle{
	margin-top: -37.5px;
    top: 50% !important;
    bottom: auto !important;
}

.iconPlay.center{
	margin-left: -37.5px;
    left: 50% !important;
    right: auto !important;
}

.iconPlay.left{
	left:10px !important;
	right: auto !important;
}

.iconPlay.right{
	right:10px !important;
	left: auto !important;
}

.iconPlay.top{
	top: 10px !important;
	bottom: auto !important;		
}

.iconPlay.bottom{
	bottom: 10px !important;
	top: auto !important;		
}

.iconPlay.small{
   background: url('../_resources/images/sprite-icon-home2.webp') no-repeat -74px -1132px transparent;
    height: 35px;
    width: 35px;
}

.iconPlay.small.middle{
	margin-top: -17.5px;
    top: 50% !important;
    bottom: auto !important;
}

.iconPlay.small.center{
	margin-left: -17.5px;
    left: 50% !important;
    right: auto !important;
}

.iconPlay.big{
	background: url('../_resources/images/sprite-icon-home2.webp') no-repeat -14px -866px transparent;
    height: 150px;
    width: 150px;
}

.iconPlay.big.middle{
	margin-top: -75px;
    top: 50% !important;
    bottom: auto !important;
}

.iconPlay.big.center{
	margin-left: -75px;
    left: 50% !important;
    right: auto !important;
}

.iconGallery{
    background: url('../_resources/images/sprite-icon-home2.webp') no-repeat -223px -1042px transparent;
	width: 75px;
    height: 61px;
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}

.iconGallery.middle{
	margin-top: -30.5px;
    top: 50% !important;
    bottom: auto !important;
}

.iconGallery.center{
	margin-left: -37.5px;
    left: 50% !important;
    right: auto !important;
}

.iconGallery.left{
	left:10px !important;
	right: auto !important;
}

.iconGallery.right{
	right:10px !important;
	left: auto !important;
}

.iconGallery.top{
	top: 10px !important;
	bottom: auto !important;		
}

.iconGallery.bottom{
	bottom: 10px !important;
	top: auto !important;		
}

.iconGallery.small{
   background: url('../_resources/images/sprite-icon-home2.webp') no-repeat -245px -1140px transparent;
    width: 35px;
	height: 29px;
}

.iconGallery.small.middle{
	margin-top: -14.5px;
    top: 50% !important;
    bottom: auto !important;
}

.iconGallery.small.center{
	margin-left: -17.5px;
    left: 50% !important;
    right: auto !important;
}

.iconGallery.big{
	background: url('../_resources/images/sprite-icon-home2.webp') no-repeat -185px -869px transparent;
    width: 150px;
	height: 122px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -61px;
}

.iconGallery.big.middle{
	margin-top: -61.5px;
    top: 50% !important;
    bottom: auto !important;
}

.iconGallery.big.center{
	margin-left: -75px;
    left: 50% !important;
    right: auto !important;
}
