/*----fonts----*/

@font-face {
    font-family: 'workSans_normal';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    /*src: url('https://fonts.google.com/specimen/Work+Sans?preview.text_type=custom');*/
}

@font-face {
    font-family: 'workSans_bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    /* src: url('https://fonts.google.com/specimen/Work+Sans?preview.text_type=custom');*/
}

@font-face {
    font-family: 'workSans_black';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    /*src: url('https://fonts.google.com/specimen/Work+Sans?preview.text_type=custom');*/
}

@font-face {
    font-family: 'notoSerif_normal';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    /*src: url('https://fonts.google.com/specimen/Noto+Serif+KR?preview.text_type=custom');*/
}

@font-face {
    font-family: 'notoSerif_bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    /*src: url('https://fonts.google.com/specimen/Noto+Serif+KR?preview.text_type=custom');*/
}

@font-face {
    font-family: 'notoSerif_black';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    /*src: url('https://fonts.google.com/specimen/Noto+Serif+KR?preview.text_type=custom');*/
}

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}