##--------------------------------##
##        IMG_TIT_TXT_INF2        ##
##--------------------------------##

#set($sectionID = "#printAssignedSectionID_v1")
#set ($varColorIter = $!iterVelocityTools.getVariable($sectionID , "color"))
#set ($info = $!iterVelocityTools.getVariable("0" , "printInfo"))
#set ($date = $!iterVelocityTools.getVariable("0" , "date"))
#set ($hasImages = $articleToolbox.getNumImageTags("TeaserImage", "true"))

#set ($vocabulary = $!iterVelocityTools.getVariable($sectionID , "vocabulary"))

#set ($position = $!iterVelocityTools.getVelocityVariable("teaseritemposition"))
#set ($last = $!iterVelocityTools.getVelocityVariable("lastteaseritempos"))

#if( $!iterVelocityTools.getVelocityVariable("oddteaseritempos") == true)
	#set ($oddeven = "odd" )
#else
	#set ($oddeven = "even" )
#end

#if( $!iterVelocityTools.getVelocityVariable("lastteaseritempos") == true && $position > 1 )
	#set ($last = "last" )
#else
	#set ($last = "" )
#end

#if($hasImages <= 0)
	#set($templateClass = "no-media")
#end

<div class="IMG_TIT_TXT_INF2 $!oddeven n$!position $!last">
	#if($hasImages > 0)
		<div class="media_block">
			##MULTIMEDIA IMG
			<div class="multimedia">
				#getMultimediaIcon_v1("main_screenshot","","right","top","","", "", "100%", true)
			</div> <!-- multimedia -->
		</div>

	#end
	<div class="text_block $!templateClass">
		
		##HEADTITLE TIT
		<div class="headline">
			<a href="#printAcUrl_v1"><h2>#getTeaserTitle_v1</h2></a>
		</div>
		##TEXT TXT
		#set ($totalSize = 300)
		<div class="text">
			#getTeaserText_v1($totalSize)
		</div> <!-- Fin div text -->
		##INF2 (hour)	
		<div class="inf2">
			#printDateAgo($date.split("\,").get(0) $date.split("\,").get(1) $date.split("\,").get(2) $date.split("\,").get(3))
		</div>
	</div><!-- text_block -->
</div>