##----IMGINF1TITTXTINF2----
#set($sectionID = "#printAssignedSectionID_v1")
#set ($varColorIter = $!iterVelocityTools.getVariable($sectionID , "color"))
#set ($topcontent = $!iterVelocityTools.getVariable($sectionID , "printTopcontainer"))
#set ($info = $!iterVelocityTools.getVariable("0" , "printInfo"))
#set ($date = $!iterVelocityTools.getVariable("0" , "date"))
#set ($hasImages = $articleToolbox.getNumImageTags("TeaserImage", "true"))
#set ($vocabulary = $!iterVelocityTools.getVariable($sectionID , "vocabulary"))
#set ($position = $!iterVelocityTools.getVelocityVariable("teaseritemposition"))
#set ($last = $!iterVelocityTools.getVelocityVariable("lastteaseritempos"))

#if( $!iterVelocityTools.getVelocityVariable("oddteaseritempos") == true)
	#set ($oddeven = "odd" )
#else
	#set ($oddeven = "even" )
#end

#if( $!iterVelocityTools.getVelocityVariable("lastteaseritempos") == true && $position > 1 )
	#set ($last = "last" )
#else
	#set ($last = "" )
#end

#if($hasImages <= 0)
	#set($templateClass = "no-media")
#end

<div class="IMGINF1TITTXTINF2 top-news $!oddeven n$!position $!last">
	<div class="multimedia_block">
		<div class="image">
			#getMultimediaIcon_v1("crop_900x506","small","right","top","","", "", "100%")
		</div><!-- image -->
		<div class="section">
			<a class="seccion extra-small font-1 bold" href="#printURLAssignedSection_v1" style="color: $!varColorIter">#printAssignedSection_v1</a>
		</div> <!-- text -->
		
		<div class="bottom-block">
			<div class="headline">
				<a href="#printAcUrl_v1"><h2 class="headline font-1 medium bold fx-hover">#getTeaserTitle_v1</h2></a>
			</div><!-- headline -->
			
			<div class="text">
				#getTeaserText_v1(200)
			</div> <!-- text -->
			
			<div class="info">
			<div class="byline">
				#set($hmAutores = {})
		            #getAcAssignedCatExtended_v1($hmAutores "Author")
		            #if($hmAutores.size() > 0)
		            	#set($hmAutor = $hmAutores.get(0))
		    			<a href="#metadataUrl_v1${hmAutor.friendlyname}">By $hmAutor.name</a>
		    		#end
			</div> <!-- Fin div author -->
			<span class="separator">|</span>
			#set($dateMask = "#dateMaskLong_v1()")
			<div class="date">#printDateFrom_v1($dateMask)</div> <!-- date -->
			<span class="separator">|</span>
			<div class="num-comments">
		        #renderDisqusComments()
			</div> <!-- Fin div discuss -->
		</div> <!-- Fin div info -->
		</div> <!-- bottom-block -->
	</div>
</div> <!-- template-125 -->