/*----shop-iframes----*/
#subscriptions-shop-iframe-container {
    display: flex;
}
#subscriptions-shop-iframe {
    flex: 1 1 auto;
    border: 0;
}

#subscriptions-checker,
#subscriptions-problem {
    box-shadow: 0 0 5px 0px #222 inset;
    padding: 20px;
    font-family: font_1;
    color: #000;
}
 
#subscriptions-checker .loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #222;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}